##########################################################################
#   Git ignor file...
#  
#
# Squid-Develpoer labs
##########################################################################
##########################################################################

##########################################################################
# Compilers
##########################################################################
# Unix and linux...
/build
/Build
/BUILD

# Visual studio 
/build-vs
/Build-vs
/BUILD-vs
/build-VS
/Build-VS
/BUILD-VS

# Xcode 
/build-xc
/Build-xc
/BUILD-xc
/build-XC
/Build-XC
/BUILD-XC

##########################################################################

##########################################################################
